
<div class="redirec">

    <nav class="navbar" style="background-color: rgba(255, 255, 255, 0.199);">
        <div class="container-fluid text-center">
          <span class="navbar-brand mb-0 h1" style="width: 100%; display: inline-block; text-align: center;">REDIRECCIONAMIENTO</span>
        </div>
      </nav>
<div class="buttons">
    <button *ngIf="userRole == 'admin' || userRole == 'mesero'" routerLink="/meseroPedidos">Mesero Pedidos</button>
    <button *ngIf="userRole == 'admin' || userRole == 'cocinero'" routerLink="/descmesas">Descripcion Mesas</button>
    <button *ngIf="userRole == 'admin' || userRole == 'admin'" routerLink="/analisis">Analisis</button>
    <button *ngIf="userRole == 'admin' || userRole == 'mesero'" routerLink="/reservacionMesas">Reservaciones</button>
    <button *ngIf="userRole == 'admin' || userRole == 'cosinero'" routerLink="/formplat">Platillos Nuevo</button>
</div>

</div>